@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.active {
  border-left: 4px solid #FCC419;
  color: #FCC419;
}

@media (max-width: 639px) {
  .active {
    border: none;
  }
}
